/* login.html 전용 스타일 */
#loginForm {
    margin-top: 30px;
}

#loginForm input {
    display: block;
    margin: 10px auto;
    width: calc(100% - 20px);
}

#loginForm button {
    width: calc(100% - 20px);
    margin-top: 20px;
}

#loginForm p {
    margin-top: 20px;
}
